button {
    height: 30px;
    outline: none;
  }

  body {
    background-color: rgb(4, 74, 139);
  }
  
  h1 {
    color: powderblue;
    text-align: center;
  }
  
  p {
    color: rgb(227, 234, 248);
    width: 750px;
  }
  
  h2 {
    color: powderblue;
    text-align: center;
  }
  
  p {
    color: rgb(31, 206, 162);
  }
  